* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans";
}

body {
  background-color: #474747;
  margin-bottom: 56px;
}

a {
  text-decoration: none;
  color: white;
}

img {
  pointer-events: none;
}

.container {
  position: relative;
  z-index: 9999;
  max-width: 1920px;
  margin: auto;
  padding: 0 120px;
}

.button {
  padding: 10px 28px;
  background: linear-gradient(45deg, #fff, #999);
  border-radius: 32px;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: fit-content;
}

.hide {
  display: none !important;
}

/* @media (width > 2500px) {
  body {
    scale: 1.2;
  }
} */

@media (width < 1450px) {
  body {
    margin-bottom: 0px;
  }
}

@media (width < 1000px) {
  .container {
    padding: 0 60px;
  }
}

@media (width < 730px) {
  .container {
    padding: 0 20px;
  }
}

@media (width < 400px) {
  body {
    /* background: #959696; */
    background: linear-gradient(0deg, #ACACAC, #191A1D);
  }

  .container {
    padding: 10px;
  }
}